span {
    color: red;
}

.exp {
    margin-top: 10px;
}

.IP {
    justify-content: center;
    align-items    : center;
    display        : flex;
}


.bg-ro {
    background-color: lightgray;
    border-radius   : 8px;
}

label {
    padding: 4px;
}

input[type=radio] {
    height: 20px;
    width : 20px;
}

input[type=text] {
    width: 235px;
}

/* ---------------------------- */
.rating {
    display  : flex;
    transform: rotateY(180deg);
    position : absolute;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor : pointer;
    width  : 20px;
}

.rating label::before {
    content    : '\f005';
    font-family: fontAwesome;
    color      : #101010;
    position   : relative;
    display    : block;
    font-size  : 25px;
}

.rating label::after {
    content    : '\f005';
    font-family: fontAwesome;
    color      : orange;
    position   : absolute;
    display    : block;
    font-size  : 25px;
    top        : 4px;
    opacity    : 0;
    text-shadow: 0px 2px 5px;
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}